@import "tailwindcss";
:root {
  --font-Dosis-sans: 'Dosis', sans-serif;
}
body {
  font-family: var(--font-Dosis-sans);
  background-color: rgb(239, 238, 238);
}

@layer utilities{
    .active{
        @apply font-bold transition-all duration-300
    }
    .accent-color{
      @apply text-cyan-800
    }
    
}